{% extends "base.html" %}
{% load static %}
{% block Title %}
{{posts.title}}
{% endblock %}
{% block css_files %}
  <link rel="stylesheet"href="{% static 'blog/post-detail.css' %}" />

{% endblock %}

{% block content %}
<section id="summary">
    <h2>{{posts.title}}</h2>
    <article>
        <img src="{% static 'blog/images/'|add:posts.image %}" alt=posts.title />
        <address>{{posts.author}}</address>
        <div>
            Last updated on <time>{{posts.date|date:"d M y"}}</time>
        </div>
    </article>
</section>
<main>
    <p>
        {{posts.content|linebreaks}}
    </p>

</main>
{% endblock %}